{% extends "base.md.j2" %}

{% block body %}
以下の商品の出品の取り消しに失敗しました。

{% if error %}
> {{ error }}
{% endif %}

{% if crostore_id %}
CrostoreID: {{ crostore_id }}
{% endif %}
プラットフォーム名: {{ platform_name }} <br>
商品ID: {{ item_id }} <br>
商品ページ: {{ selling_page_url }} <br>

{% endblock %}
